<div class="contanier">
  <div class="row">
    <div class="col-md-12">
      <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <div class="form-group">
          <label>Movies?</label>
          <input
            type="text"
            class="form-control"
            id="search"
            name="search"
            required
            minlength="3"
            ngModel
          />
          <hr />
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!searchForm.valid"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="contanier">
  <div class="row" *ngIf="isVisibleGrid">
    <div class="col-md-12">
      <app-pagination *ngIf="search.totalResults>0" [totalRecords]="search.totalResults" (onPageChange)="displayActivePage($event)"></app-pagination>
      <app-movies-list [searchResult]="search"></app-movies-list>
      <app-pagination *ngIf="search.totalResults>0" [totalRecords]="search.totalResults" (onPageChange)="displayActivePage($event)"></app-pagination>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" *ngIf="isError">
    <div class="col-md-12">
      <app-alert
      [message]="messageError"
      (close)="onHandleError()"
    ></app-alert>
    </div>
  </div>
</div>
